# COGS 108 - Final Project

# Overview

*Fill in your overview here*

# Name & GitHub

- Name: Mher Arabian
- GitHub Username: A11364327

# Research Question

How well does restaurant location, average cost, and repeat violations predict a restaurant's yelp score?

## Background and Prior Work

*Fill in your background and prior work here* 

References (include links):
- 1)
- 2)

# Hypothesis

Given a restaurant's location, average cost, and repeat violations, we can accurately predict its health score.

# Dataset(s)

*Fill in your dataset information here*

(Copy this information for each dataset)
- Dataset Name:
- Link to the dataset:
- Number of observations:

1-2 sentences describing each dataset. 

If you plan to use multiple datasets, add 1-2 sentences about how you plan to combine these datasets.

# Setup

In [55]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

# Data Cleaning

Describe your data cleaning steps here.

In [69]:
## YOUR CODE HERE
df_inspections = pd.read_csv("data/inspections.csv")


# clean up inspections dataframe
df_inspections = df.drop(['phonenumber', 'restaurantopendate', 'facilitytype', 'x', 'y', 'geocodestatus', 'address1', 'address2'], axis=1)
df_inspections = df_inspections.dropna()
df_inspections.rename(columns={'postalcode':'zip'}, inplace=True)
df_inspections

,X.objectid,hsisid,name,city,state,zip
0,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895
1,1002,4092040338,CAROLINA CLASSIC HOT DOGS #2 (WCID #549),APEX,NC,27502
2,1003,4092014444,Taco Bell #22798,WAKE FOREST,NC,27587
3,1004,4092015333,THE REMEDY DINER,RALEIGH,NC,27601
4,1005,4092160069,ZEBULON HOUSE (KITCHEN),ZEBULON,NC,27597
...,...,...,...,...,...,...
3319,2996,4092016658,LA ROMA PIZZA,GARNER,NC,27529
3320,2997,4092016663,BOJANGLES #5,RALEIGH,NC,27603
3321,2998,4092016557,BURGER KING #19795,Wake Forest,NC,27587
3322,2999,4092017227,QUICKLY,MORRISVILLE,NC,27560
3323,3000,4092017274,HARRIS TEETER #43 STARBUCKS,WAKE FOREST,NC,27587

In [70]:
df_violations = pd.read_csv("data/violations.csv")


df_violations = df_violations.drop(['count', 'cdcriskfactor', 'cdcdataitem', 'inspectdate', 'category', 'statecode', 'critical', 'questionno'], axis = 1)
df_violations = df_violations.drop(['severity', 'violationcode', 'inspectedby', 'comments', 'pointvalue', 'shortdesc', 'observationtype'], axis=1)
df_violations = df_violations.dropna()
df_violations

        X.objectid      hsisid violationtype
0             2149  4092015279             R
1             2150  4092014572           CDI
2             2151  4092015906           CDI
3             2152  4092013840           CDI
4             2153  4092021788           CDI
...            ...         ...           ...
189796        2143  4092011742           CDI
189797        2144  4092015549           CDI
189798        2145  4092016135             R
189799        2146  4092020997           CDI
189801        2148  4092015279           CDI

[95163 rows x 3 columns]

In [68]:
merged_df = pd.merge(df_inspections, df_violations, on='hsisid')
merged_df

,X.objectid_x,hsisid,name,city,state,zip,X.objectid_y,violationtype
0,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895,6992,R
1,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895,7791,CDI
2,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895,7801,VR
3,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895,10429,VR
4,1001,4092017230,SPRING CAFE 2,RALEIGH,NC,27616-1895,15176,VR
...,...,...,...,...,...,...,...,...
78734,2999,4092017227,QUICKLY,MORRISVILLE,NC,27560,66446,CDI
78735,2999,4092017227,QUICKLY,MORRISVILLE,NC,27560,75239,CDI
78736,2999,4092017227,QUICKLY,MORRISVILLE,NC,27560,117730,CDI
78737,2999,4092017227,QUICKLY,MORRISVILLE,NC,27560,144170,VR
78738,3000,4092017274,HARRIS TEETER #43 STARBUCKS,WAKE FOREST,NC,27587,64092,VR

In [10]:
df_yelp = pd.read_csv("data/yelp.csv")
df_yelp.head()

,id,name,is_closed,rating,review_count,address1,zip_code,latitude,longitude,price,...,italian,newamerican,chicken_wings,delis,bars,salad,seafood,bbq,bakeries,sushi
0,42nd-street-oyster-bar-rdu-airport-morrisville,42nd street oyster bar - rdu airport,False,2.5,23,2400 John Brantley Blvd,27560,35.873808,-78.790896,$$,...,False,True,False,False,False,False,True,False,False,False
1,aldi-foods-cary,aldi foods,False,4.0,17,2303 NW Maynard Rd,27519,35.802840,-78.785930,$,...,False,False,False,False,False,False,False,False,False,False
2,luciano-pizzeria-ristorante-northwest-raleigh,luciano pizzeria ristorante,False,5.0,2,Crabtree Valley Mall,27612,35.839681,-78.678791,$,...,True,False,False,False,False,False,False,False,False,False
3,olive-garden-italian-restaurant-wilson,olive garden italian restaurant,False,3.0,16,3401 Raleigh Rd Pkwy W,27893,35.743170,-77.964160,$$,...,True,False,False,False,False,True,False,False,False,False
4,subway-wilson-4,subway,False,3.5,3,4934 Raleigh Rd,27896,35.762936,-77.999428,$,...,False,False,False,False,False,False,False,False,False,False

In [11]:
df_zip = pd.read_csv("data/zipcodes.csv")
df_zip.head()

,zip,median_family_income_dollars,median_household_income_dollars,per_capita_income_dollars,percent_damilies_below_poverty_line,percent_snap_benefits,percent_supplemental_security_income,percent_nonwhite
0,27501,59408,51121,21631,10.5,15.5,5.2,17.9
1,27502,109891,95857,36763,3.4,2.4,0.8,18.9
2,27511,82292,67392,33139,9.6,4.5,2.2,24.8
3,27513,109736,87262,41232,3.8,2.4,1.5,27.8
4,27518,125432,98247,49865,5.5,1.0,1.7,19.9

# Data Analysis & Results

Include cells that describe the steps in your data analysis.

In [5]:
## YOUR CODE HERE
## FEEL FREE TO ADD MULTIPLE CELLS PER SECTION

# Ethics & Privacy

*Fill in your ethics & privacy discussion here*

# Conclusion & Discussion

*Fill in your discussion information here*